@font-face {
    font-family: "ChelseaMarket-Regular";
    src: url("../fonts/chelsea_market/ChelseaMarket-Regular.ttf");
}

@font-face {
    font-family: "Muli-Regular";
    src: url("../fonts/muli/Muli-Regular.ttf");
}

@font-face {
    font-family: "Muli-SemiBold";
    src: url("../fonts/muli/Muli-SemiBold.ttf");
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-size: 15px;
    margin: 0;
}



p,
h1,
h2,
h3,
h4,
h5,
h6,
ul {
    margin: 0;
}

img {
    max-width: 100%;
}

ul {
    padding-left: 0;
    margin-bottom: 0;
}

a {
    text-decoration: none;
}

:focus {
    outline: none;
}

.text-center a h6 {
    color: #ffff;
}

.wrapper {
    min-height: 100vh;
    display: flex;
}

.wrapper .image-holder {
    width: 45%;
}

.wrapper .content-inner {
    width: 55%;
}


.logo {
  height: 160px;
  margin-top: -40px;
}

.logoQPet{
width: 250px;
height:250px;
}

.content-inner {
    background: linear-gradient(135deg, #38A3A5 0%, #80ED99 100%);
    padding-left: 4vw;
    padding-right: 4vw;
    color: #fff;
}

form {
    width: 100%;
}

.form-header {
    text-align: center;
    margin: 30px;
}

.img-usuario {
    width: 55%;
    overflow: hidden;
}

.cont-usuario:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}



.sign-in {
    --primary-color: #38A3A5;
    --secondary-color: #fff;
    --hover-color: #111;
    --arrow-width: 10px;
    --arrow-stroke: 2px;
    box-sizing: border-box;
    border: 0;
    border-radius: 20px;
    color: var(--secondary-color);
    padding: 1em 1.8em;
    background: var(--primary-color);
    display: flex;
    transition: 0.2s background;
    align-items: center;
    gap: 0.6em;
    font-weight: bold;
    margin-top: 10px;
    margin-left: 20px;
    width: fit-content;
  }
  
  .sign-in .arrow-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .sign-in .arrow {
    margin-top: 1px;
    width: var(--arrow-width);
    background: var(--primary-color);
    height: var(--arrow-stroke);
    position: relative;
    transition: 0.2s;
  }
  
  .sign-in .arrow::before {
    content: "";
    box-sizing: border-box;
    position: absolute;
    border: solid var(--secondary-color);
    border-width: 0 var(--arrow-stroke) var(--arrow-stroke) 0;
    display: inline-block;
    top: -3px;
    right: 3px;
    transition: 0.2s;
    padding: 3px;
    transform: rotate(-45deg);
  }
  
  .sign-in:hover {
    background-color: var(--hover-color);
  }
  
  .sign-in:hover .arrow {
    background: var(--secondary-color);
  }
  
  .sign-in:hover .arrow:before {
    right: 0;
  }
  
  .card {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    flex-direction: column;
    gap: 35px;
    border: none;
    border-color: none;
    background: none;
  }
  
  .inputBox,
  .inputBox1 {
    position: relative;
  }
  
  .inputBox input,
  .inputBox select,
  .inputBox1 input {
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    color: #000;
    font-size: 1em;
    background: transparent;
    border: 2px solid #fff;
    transition: 0.1s;
    border-radius: 8px;
  }
  
  .inputBox input::placeholder{
    color: #000;
  }

  .inputBox span,
  .inputBox1 span {
    margin-top: 5px;
    position: absolute;
    left: 0;
    padding: 10px;
    pointer-events: none;
    font-size: 12px;
    color: #000;
    text-transform: uppercase;
    transition: 0.5s;
    letter-spacing: 3px;
    border-radius: 8px;
    transform: translateX(15px) translateY(-20px);
    font-size: 0.8em;
    padding: 5px 10px;
    background: #fff;
    letter-spacing: 0.1em;
    color: #000;
    border: 2px;
    
  }
  
  

  .button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 12px;
    gap: 8px;
    border: 2px solid #ffff;
    height: 40px;
    width: 201px;
    background: transparent;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
  }
  

  .lable {
    line-height: 22px;
    font-size: 17px;
    color: #000;
    letter-spacing: 1px;
  }
  
  .button:hover {
    background: #38A3A5;
  }
  
  .button:hover .lable{
    color: #fff;
  }

  .button:hover .svg-icon {
    animation: slope 1s linear infinite;
    color: #fff;
  }
  
  @keyframes slope {
    0% {
    }
  
    50% {
      transform: rotate(10deg);
    }
  
    100% {
    }
  }

section .row {
    margin-bottom: 25px;
}

.cont-siguiente{
    display: flex;
    justify-content: center;
    margin: 20px;
}

.cont-veterinaria-options{
    display: flex;
    justify-content: space-around;
}

.font-normal {
    font-weight: normal;
}

ul.form-stepper {
    counter-reset: section;
    margin-bottom: 5%;
}

ul.form-stepper .form-stepper-circle {
    position: relative;
}

ul.form-stepper .form-stepper-circle span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.form-stepper-horizontal {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

ul.form-stepper>li:not(:last-of-type) {
    margin-bottom: 0.625rem;
    -webkit-transition: margin-bottom 0.4s;
    -o-transition: margin-bottom 0.4s;
    transition: margin-bottom 0.4s;
}

.form-stepper-horizontal>li:not(:last-of-type) {
    margin-bottom: 0 !important;
}

.form-stepper-horizontal li {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: start;
    -webkit-transition: 0.5s;
    transition: 0.5s;
}

.form-stepper-horizontal li:not(:last-child):after {
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    height: 1px;
    content: "";
    top: 32%;
}

.form-stepper-horizontal li:after {
    background-color: #dee2e6;
}

.form-stepper-horizontal li.form-stepper-completed:after {
    background-color: #4da3ff;
}

.form-stepper-horizontal li:last-child {
    flex: unset;
}

ul.form-stepper li a .form-stepper-circle {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 0;
    line-height: 1.7rem;
    text-align: center;
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
}

.form-stepper .form-stepper-active .form-stepper-circle {
    background-color: #20c997 !important;
    color: #fff;
}

.form-stepper .form-stepper-active .label {
    color: #000000 !important;
}

.form-stepper .form-stepper-active .form-stepper-circle:hover {
    background-color: #17a2b8 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-unfinished .form-stepper-circle {
    background-color: #f8f7ff;
}

.form-stepper .form-stepper-completed .form-stepper-circle {
    background-color: #0e9594 !important;
    color: #fff;
}

.form-stepper .form-stepper-completed .label {
    color: #0e9594 !important;
}

.form-stepper .form-stepper-completed .form-stepper-circle:hover {
    background-color: #0e9594 !important;
    color: #fff !important;
}

.form-stepper .form-stepper-active span.text-muted {
    color: #fff !important;
}

.form-stepper .form-stepper-completed span.text-muted {
    color: #fff !important;
}

.form-stepper .label {
    font-size: 1rem;
    margin-top: 0.5rem;
}

.form-stepper a {
    cursor: default;
}