.carousel-control-prev,
.carousel-control-next {
width: 40px;
height: 40px;
background-color: #B5BFBF;
border-radius: 50%;
opacity: 0.8;
top: 50%;
transform: translateY(-50%);
}
.card-v{
    width: 18rem; 
    background-color: #049291; 
    border-radius:26px;
}

.card-body-v{
    color: white; 
    margin-top: -43px;  
    background-color: #049291; 
    border-radius:20px;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
    padding-right: 20px !important;
    padding-left: 20px !important;
}
.card-title{
    font-size:26px;
    color: white;

}
.card-link{
    font-size: 40px;
    font-weight: 800;
    color: white !important; 
    text-decoration: none;
    display: inline-block;
}

.carousel-control-prev {
left: -30px;
}

.carousel-control-next {
right: -30px;
}

.custom-carousel-control-icon {
color: white;
font-size: 30px;
font-weight 600;
position: relative;
transform: translateY(-5%);
}

.carousel-control-prev:hover,
.carousel-control-next:hover {
opacity: 1;
}

.card-h{
    padding: 20px !important;
    border-radius: 20px;
    background-color: #049291; 
    height: 290px;
}

p.clasificacion {
    position: relative;
    overflow: hidden;
    display: inline-block;
    font-size: 30px;
    margin-right: 60px;
    margin-bottom: 0;
  }
  
  p.clasificacion input {
    position: absolute;
    top: -100px;
  }
  
  p.clasificacion label {
    float: right;
    color: white;
  }
  
  p.clasificacion label:hover,
  p.clasificacion label:hover ~ label,
  p.clasificacion input:checked ~ label {
    color: rgb(221, 221, 20);
  }
